{
  "name": "GuiClinicaDemo",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "dist",
      "dist/View",
      "dist/View/CitaMar"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/pug/blank-page.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/bootstrap-componants.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/charts.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/form-componants.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/form-custom.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/form-notifications.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/form-samples.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/index.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-calendar.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-error.pug",
      "imports": [
        "src/pug/includes/_head.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-invoice.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-lockscreen.pug",
      "imports": [
        "src/pug/includes/_head.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-login.pug",
      "imports": [
        "src/pug/includes/_head.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-mailbox.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/page-user.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/table-basic.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/table-data-table.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/ui-cards.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/ui-font-awesome.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/pug/widgets.pug",
      "imports": [
        "src/pug/layouts/_layout.pug",
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/sass/main.sass",
      "imports": [
        "src/sass/1-tools/_fonts.scss",
        "src/sass/1-tools/_vars.sass",
        "src/sass/1-tools/bourbon/_bourbon.scss",
        "src/sass/1-tools/bootstrap-source/_bootstrap.scss",
        "src/sass/1-tools/_font-awesome.scss",
        "src/sass/1-tools/_animate.scss",
        "src/sass/1-tools/_dataTables.bootstrap.scss",
        "src/sass/1-tools/_bootstrap-datepicker.scss",
        "src/sass/1-tools/_sweetalert.scss",
        "src/sass/1-tools/_notify.sass",
        "src/sass/1-tools/_select2.scss",
        "src/sass/1-tools/_pace.scss",
        "src/sass/1-tools/_jqvmap.scss",
        "src/sass/1-tools/_fullcalendar.scss",
        "src/sass/2-basics/_skin.sass",
        "src/sass/2-basics/_layout.sass",
        "src/sass/2-basics/_structure.sass",
        "src/sass/2-basics/_helpers.sass",
        "src/sass/3-componant/_top-navbar.sass",
        "src/sass/3-componant/_sidebar.sass",
        "src/sass/3-componant/_sidebar-mini.sass",
        "src/sass/3-componant/_page-title.sass",
        "src/sass/3-componant/_dropdown.sass",
        "src/sass/3-componant/_card.sass",
        "src/sass/3-componant/_custom-radio-n-checkbox.sass",
        "src/sass/3-componant/_toggle-button.sass",
        "src/sass/3-componant/_material-half-bg.sass",
        "src/sass/3-componant/_material-loader.sass",
        "src/sass/3-componant/_button-spinner.sass",
        "src/sass/3-componant/_widgets.sass",
        "src/sass/3-componant/_chat.sass",
        "src/sass/3-componant/_products-list.sass",
        "src/sass/3-componant/_users-list.sass",
        "src/sass/4-pages/_login-material.sass",
        "src/sass/4-pages/_lockscreen-material.sass",
        "src/sass/4-pages/_error-page.sass",
        "src/sass/4-pages/_mailbox.sass",
        "src/sass/4-pages/_user-profile.sass",
        "src/sass/1-tools/bourbon/settings/_prefixer.scss",
        "src/sass/1-tools/bourbon/settings/_px-to-em.scss",
        "src/sass/1-tools/bourbon/settings/_asset-pipeline.scss",
        "src/sass/1-tools/bourbon/functions/_assign-inputs.scss",
        "src/sass/1-tools/bourbon/functions/_contains.scss",
        "src/sass/1-tools/bourbon/functions/_contains-falsy.scss",
        "src/sass/1-tools/bourbon/functions/_is-length.scss",
        "src/sass/1-tools/bourbon/functions/_is-light.scss",
        "src/sass/1-tools/bourbon/functions/_is-number.scss",
        "src/sass/1-tools/bourbon/functions/_is-size.scss",
        "src/sass/1-tools/bourbon/functions/_px-to-em.scss",
        "src/sass/1-tools/bourbon/functions/_px-to-rem.scss",
        "src/sass/1-tools/bourbon/functions/_shade.scss",
        "src/sass/1-tools/bourbon/functions/_strip-units.scss",
        "src/sass/1-tools/bourbon/functions/_tint.scss",
        "src/sass/1-tools/bourbon/functions/_transition-property-name.scss",
        "src/sass/1-tools/bourbon/functions/_unpack.scss",
        "src/sass/1-tools/bourbon/functions/_modular-scale.scss",
        "src/sass/1-tools/bourbon/helpers/_convert-units.scss",
        "src/sass/1-tools/bourbon/helpers/_directional-values.scss",
        "src/sass/1-tools/bourbon/helpers/_font-source-declaration.scss",
        "src/sass/1-tools/bourbon/helpers/_gradient-positions-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-angle-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-gradient-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-positions-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-side-corner-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_radial-arg-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_radial-positions-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_radial-gradient-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_render-gradients.scss",
        "src/sass/1-tools/bourbon/helpers/_shape-size-stripper.scss",
        "src/sass/1-tools/bourbon/helpers/_str-to-num.scss",
        "src/sass/1-tools/bourbon/css3/_animation.scss",
        "src/sass/1-tools/bourbon/css3/_appearance.scss",
        "src/sass/1-tools/bourbon/css3/_backface-visibility.scss",
        "src/sass/1-tools/bourbon/css3/_background.scss",
        "src/sass/1-tools/bourbon/css3/_background-image.scss",
        "src/sass/1-tools/bourbon/css3/_border-image.scss",
        "src/sass/1-tools/bourbon/css3/_calc.scss",
        "src/sass/1-tools/bourbon/css3/_columns.scss",
        "src/sass/1-tools/bourbon/css3/_filter.scss",
        "src/sass/1-tools/bourbon/css3/_flex-box.scss",
        "src/sass/1-tools/bourbon/css3/_font-face.scss",
        "src/sass/1-tools/bourbon/css3/_font-feature-settings.scss",
        "src/sass/1-tools/bourbon/css3/_hidpi-media-query.scss",
        "src/sass/1-tools/bourbon/css3/_hyphens.scss",
        "src/sass/1-tools/bourbon/css3/_image-rendering.scss",
        "src/sass/1-tools/bourbon/css3/_keyframes.scss",
        "src/sass/1-tools/bourbon/css3/_linear-gradient.scss",
        "src/sass/1-tools/bourbon/css3/_perspective.scss",
        "src/sass/1-tools/bourbon/css3/_placeholder.scss",
        "src/sass/1-tools/bourbon/css3/_radial-gradient.scss",
        "src/sass/1-tools/bourbon/css3/_selection.scss",
        "src/sass/1-tools/bourbon/css3/_text-decoration.scss",
        "src/sass/1-tools/bourbon/css3/_transform.scss",
        "src/sass/1-tools/bourbon/css3/_transition.scss",
        "src/sass/1-tools/bourbon/css3/_user-select.scss",
        "src/sass/1-tools/bourbon/addons/_border-color.scss",
        "src/sass/1-tools/bourbon/addons/_border-radius.scss",
        "src/sass/1-tools/bourbon/addons/_border-style.scss",
        "src/sass/1-tools/bourbon/addons/_border-width.scss",
        "src/sass/1-tools/bourbon/addons/_buttons.scss",
        "src/sass/1-tools/bourbon/addons/_clearfix.scss",
        "src/sass/1-tools/bourbon/addons/_ellipsis.scss",
        "src/sass/1-tools/bourbon/addons/_font-stacks.scss",
        "src/sass/1-tools/bourbon/addons/_hide-text.scss",
        "src/sass/1-tools/bourbon/addons/_margin.scss",
        "src/sass/1-tools/bourbon/addons/_padding.scss",
        "src/sass/1-tools/bourbon/addons/_position.scss",
        "src/sass/1-tools/bourbon/addons/_prefixer.scss",
        "src/sass/1-tools/bourbon/addons/_retina-image.scss",
        "src/sass/1-tools/bourbon/addons/_size.scss",
        "src/sass/1-tools/bourbon/addons/_text-inputs.scss",
        "src/sass/1-tools/bourbon/addons/_timing-functions.scss",
        "src/sass/1-tools/bourbon/addons/_triangle.scss",
        "src/sass/1-tools/bourbon/addons/_word-wrap.scss",
        "src/sass/1-tools/bourbon/_bourbon-deprecated-upcoming.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_variables.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_mixins.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_normalize.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_print.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_scaffolding.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_type.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_code.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_grid.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_tables.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_forms.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_buttons.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_component-animations.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_dropdowns.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_button-groups.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_input-groups.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_navs.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_navbar.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_breadcrumbs.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_pagination.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_pager.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_labels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_badges.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_alerts.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_progress-bars.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_media.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_list-group.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_panels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_responsive-embed.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_close.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_modals.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_tooltip.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_popovers.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_carousel.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_utilities.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_responsive-utilities.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_hide-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_opacity.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_image.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_labels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-filter.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_resize.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_responsive-visibility.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_size.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_tab-focus.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-emphasis.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-overflow.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_vendor-prefixes.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_alerts.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_buttons.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_panels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_pagination.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_list-group.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-divider.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_forms.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_progress-bar.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_table-row.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_background-variant.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_border-radius.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_gradients.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_clearfix.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_center-block.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-vertical-align.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid-framework.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "src/pug/layouts/_layout.pug",
      "imports": [
        "src/pug/includes/_head.pug",
        "src/pug/includes/_navbar.pug",
        "src/pug/includes/_sidebar.pug",
        "src/pug/includes/_javascript.pug"
      ]
    },
    {
      "path": "src/sass/1-tools/bootstrap-source/_bootstrap.scss",
      "imports": [
        "src/sass/1-tools/bootstrap-source/bootstrap/_variables.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_mixins.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_normalize.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_print.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_scaffolding.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_type.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_code.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_grid.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_tables.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_forms.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_buttons.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_component-animations.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_dropdowns.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_button-groups.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_input-groups.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_navs.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_navbar.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_breadcrumbs.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_pagination.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_pager.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_labels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_badges.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_alerts.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_progress-bars.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_media.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_list-group.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_panels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_responsive-embed.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_close.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_modals.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_tooltip.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_popovers.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_carousel.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_utilities.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_responsive-utilities.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_hide-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_opacity.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_image.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_labels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-filter.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_resize.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_responsive-visibility.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_size.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_tab-focus.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-emphasis.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-overflow.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_vendor-prefixes.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_alerts.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_buttons.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_panels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_pagination.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_list-group.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-divider.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_forms.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_progress-bar.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_table-row.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_background-variant.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_border-radius.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_gradients.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_clearfix.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_center-block.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-vertical-align.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid-framework.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "src/sass/1-tools/bourbon/_bourbon.scss",
      "imports": [
        "src/sass/1-tools/bourbon/settings/_prefixer.scss",
        "src/sass/1-tools/bourbon/settings/_px-to-em.scss",
        "src/sass/1-tools/bourbon/settings/_asset-pipeline.scss",
        "src/sass/1-tools/bourbon/functions/_assign-inputs.scss",
        "src/sass/1-tools/bourbon/functions/_contains.scss",
        "src/sass/1-tools/bourbon/functions/_contains-falsy.scss",
        "src/sass/1-tools/bourbon/functions/_is-length.scss",
        "src/sass/1-tools/bourbon/functions/_is-light.scss",
        "src/sass/1-tools/bourbon/functions/_is-number.scss",
        "src/sass/1-tools/bourbon/functions/_is-size.scss",
        "src/sass/1-tools/bourbon/functions/_px-to-em.scss",
        "src/sass/1-tools/bourbon/functions/_px-to-rem.scss",
        "src/sass/1-tools/bourbon/functions/_shade.scss",
        "src/sass/1-tools/bourbon/functions/_strip-units.scss",
        "src/sass/1-tools/bourbon/functions/_tint.scss",
        "src/sass/1-tools/bourbon/functions/_transition-property-name.scss",
        "src/sass/1-tools/bourbon/functions/_unpack.scss",
        "src/sass/1-tools/bourbon/functions/_modular-scale.scss",
        "src/sass/1-tools/bourbon/helpers/_convert-units.scss",
        "src/sass/1-tools/bourbon/helpers/_directional-values.scss",
        "src/sass/1-tools/bourbon/helpers/_font-source-declaration.scss",
        "src/sass/1-tools/bourbon/helpers/_gradient-positions-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-angle-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-gradient-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-positions-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_linear-side-corner-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_radial-arg-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_radial-positions-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_radial-gradient-parser.scss",
        "src/sass/1-tools/bourbon/helpers/_render-gradients.scss",
        "src/sass/1-tools/bourbon/helpers/_shape-size-stripper.scss",
        "src/sass/1-tools/bourbon/helpers/_str-to-num.scss",
        "src/sass/1-tools/bourbon/css3/_animation.scss",
        "src/sass/1-tools/bourbon/css3/_appearance.scss",
        "src/sass/1-tools/bourbon/css3/_backface-visibility.scss",
        "src/sass/1-tools/bourbon/css3/_background.scss",
        "src/sass/1-tools/bourbon/css3/_background-image.scss",
        "src/sass/1-tools/bourbon/css3/_border-image.scss",
        "src/sass/1-tools/bourbon/css3/_calc.scss",
        "src/sass/1-tools/bourbon/css3/_columns.scss",
        "src/sass/1-tools/bourbon/css3/_filter.scss",
        "src/sass/1-tools/bourbon/css3/_flex-box.scss",
        "src/sass/1-tools/bourbon/css3/_font-face.scss",
        "src/sass/1-tools/bourbon/css3/_font-feature-settings.scss",
        "src/sass/1-tools/bourbon/css3/_hidpi-media-query.scss",
        "src/sass/1-tools/bourbon/css3/_hyphens.scss",
        "src/sass/1-tools/bourbon/css3/_image-rendering.scss",
        "src/sass/1-tools/bourbon/css3/_keyframes.scss",
        "src/sass/1-tools/bourbon/css3/_linear-gradient.scss",
        "src/sass/1-tools/bourbon/css3/_perspective.scss",
        "src/sass/1-tools/bourbon/css3/_placeholder.scss",
        "src/sass/1-tools/bourbon/css3/_radial-gradient.scss",
        "src/sass/1-tools/bourbon/css3/_selection.scss",
        "src/sass/1-tools/bourbon/css3/_text-decoration.scss",
        "src/sass/1-tools/bourbon/css3/_transform.scss",
        "src/sass/1-tools/bourbon/css3/_transition.scss",
        "src/sass/1-tools/bourbon/css3/_user-select.scss",
        "src/sass/1-tools/bourbon/addons/_border-color.scss",
        "src/sass/1-tools/bourbon/addons/_border-radius.scss",
        "src/sass/1-tools/bourbon/addons/_border-style.scss",
        "src/sass/1-tools/bourbon/addons/_border-width.scss",
        "src/sass/1-tools/bourbon/addons/_buttons.scss",
        "src/sass/1-tools/bourbon/addons/_clearfix.scss",
        "src/sass/1-tools/bourbon/addons/_ellipsis.scss",
        "src/sass/1-tools/bourbon/addons/_font-stacks.scss",
        "src/sass/1-tools/bourbon/addons/_hide-text.scss",
        "src/sass/1-tools/bourbon/addons/_margin.scss",
        "src/sass/1-tools/bourbon/addons/_padding.scss",
        "src/sass/1-tools/bourbon/addons/_position.scss",
        "src/sass/1-tools/bourbon/addons/_prefixer.scss",
        "src/sass/1-tools/bourbon/addons/_retina-image.scss",
        "src/sass/1-tools/bourbon/addons/_size.scss",
        "src/sass/1-tools/bourbon/addons/_text-inputs.scss",
        "src/sass/1-tools/bourbon/addons/_timing-functions.scss",
        "src/sass/1-tools/bourbon/addons/_triangle.scss",
        "src/sass/1-tools/bourbon/addons/_word-wrap.scss",
        "src/sass/1-tools/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "dist/View/Cita2/src/less/bootstrap-datetimepicker-build.less",
      "imports": [
        "dist/View/Cita2/src/less/_bootstrap-datetimepicker.less"
      ]
    },
    {
      "path": "dist/View/Cita2/src/sass/bootstrap-datetimepicker-build.scss",
      "imports": [
        "dist/View/Cita2/src/sass/_bootstrap-datetimepicker.scss"
      ]
    },
    {
      "path": "src/sass/1-tools/bootstrap-source/bootstrap/_mixins.scss",
      "imports": [
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_hide-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_opacity.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_image.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_labels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-filter.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_resize.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_responsive-visibility.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_size.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_tab-focus.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-emphasis.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-overflow.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_vendor-prefixes.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_alerts.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_buttons.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_panels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_pagination.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_list-group.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-divider.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_forms.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_progress-bar.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_table-row.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_background-variant.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_border-radius.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_gradients.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_clearfix.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_center-block.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-vertical-align.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid-framework.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "src/sass/1-tools/bootstrap-source/bootstrap/_theme.scss",
      "imports": [
        "src/sass/1-tools/bootstrap-source/bootstrap/_variables.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/_mixins.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_hide-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_opacity.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_image.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_labels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-filter.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_resize.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_responsive-visibility.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_size.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_tab-focus.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_reset-text.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-emphasis.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_text-overflow.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_vendor-prefixes.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_alerts.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_buttons.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_panels.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_pagination.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_list-group.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-divider.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_forms.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_progress-bar.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_table-row.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_background-variant.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_border-radius.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_gradients.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_clearfix.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_center-block.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_nav-vertical-align.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid-framework.scss",
        "src/sass/1-tools/bootstrap-source/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}